@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="dynamicContentContainer"></div>
<script>
    setTimeout(function () {
        $("#dynamicContentContainer").load("/Downloads")
    }, 2800);

</script>
